@font-face {
	font-family: "Noto Sans TC";
	src: url(./fonts/NotoSansTC-Regular.otf);
 }

html{
background-color: black;
}

ul{
    position: absolute;
    top: 15vh;
    /* top: 15px; */
    left: 50%;
    transform: translateX(-60%);
}

ul a {
    text-decoration: none;
    color: aliceblue;
    margin-left: 3em; 
}
ul a span{
    font-family: "Noto Sans TC";
    font-size: 1.5vw;
}