<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>共享考古-預覽</title>
    <link href="view.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>
      <div id="title">
        <h1>
          電磁學(二)
        </h1>
      </div>

      <div id="info">
        <ul>
          <li><span>教師 | 楊慶龍</span></li>
          <li><span>年份 | 111-2</span></li>
          <li><span>類別 | 大考</span></li>
        </ul>

        <div id="uploader">

        </div>
      </div>

      <div id="line">
        <img src="./img/02_line.png">
      </div>
    </header>

    <main>
      <div id="file">
        <img src="./img/03_考卷.jpg">
      </div>

      <div id="page">
        <p>1 / 1</p>
      </div>
    </main>

    <aside>
      <div id="download"><a href="#"><img src="./img/04_download.png"><p>下載</p></a></div>
      <div id="like"><a href="#"><img src="./img/05_like.png"><p>讚賞</p></a></div>
    </aside>

    <section>
      <div id="quit"><a href="https://e14084052.github.io/uidd/main/main.html"><img src="./img/08_quit.png"></a></div>
    </section>
  </body>
</html>