@font-face {
	font-family: "Source Han Sans SC Regular";
	src: url(./fonts/NotoSansTC-Regular.otf);
 }

 @font-face {
	font-family: "Source Han Sans SC Thin";
	src: url(./fonts/NotoSansTC-Thin.otf) ;
 }

 @font-face {
	font-family: "Source Han Sans SC Light";
	src: url(./fonts/NotoSansTC-Light.otf);
 }

 @font-face {
	font-family: "Source Han Sans SC Bold";
	src: url(./fonts/NotoSansTC-Bold.otf);
 }

body{
    background-color: rgba(18, 18, 18, 1);
}

#title h1{
    font-family: "Source Han Sans SC Bold", sans-serif;
    font-size: 3vw;
    color: aliceblue;
    position: absolute;
    top: 3vw;
    left: 10vw;
}

#info span{
    font-family: "Source Han Sans SC Light", sans-serif;
    font-size: 1.3vw;
    color: aliceblue;
}

#info li{
    margin-right: 3em; 
}

#info ul{
    /* width: 40vw; */
    /* height: 5vw; */
    position: absolute;
    top: 11vw;
    /* top: 15px; */
    left: 10vw;
    /* transform: translateX(-60%); */
    /* list-style: none; */
    margin: 0;
    display: flex;
    padding: 0;
}

img{
    max-width: 100%;
    /* max-height: 100%; */
}

#line{
    position: absolute;
    top: 13vw;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
}

#file img{
    width: 62vw;
    position: absolute;
    top:18vw;
    left: 50%;
    transform: translateX(-50%);
}

#page{
    color: aliceblue;
    font-family: "Source Han Sans SC Regular", sans-serif;
    position: absolute;
    top:105vw;
    left: 50%;
    transform: translateX(-50%);
}

#download{
    width: 2.5vw;
    position: absolute;
    top:19vw;
    right: 12vw;
}

#like{
    width: 2.5vw;
    position: absolute;
    top:26vw;
    right: 12vw;
}

#download p, #like p{
    font-family: "Source Han Sans SC Regular", sans-serif;
    font-size: 1vw;
    color:aliceblue;
    position: absolute;
    left: 0.3vw;
    margin: 0;
}

#quit{
    width: 3vw;
    position: absolute;
    top: 5vw;
    right: 7vw;
}


